body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.5vw;
}

h1 {
  text-align: left;
  font-size: 72px;
  margin-bottom: 16px;
}

h2 {
  text-align: left;
  font-size: 2vw;
  font-weight: 200;
  text-decoration: underline;
  text-decoration-color: transparent;
  background-clip: inherit;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr;
  align-content: end;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.navbar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-content: end;
  background-color: red;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: end;
  justify-content: start;
  background-color: green;
}

.hero {
  grid-column: 2 / 3;
  grid-row: 2 /3;
  justify-self: end;
  align-self: end;
}

/* .gradient-text {
  background-image: linear-gradient(90deg, orange, blue);
  color: transparent;
  background-clip: text;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

img {
  display: block;
  max-height: 50vh;
}