<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text">
        <h5>
            I am a scientist and educator looking for the next big challenge to solve. I seek to combine my specific
            training in organic chemistry, biochemistry, and studies in the origins of life with my abilities in data
            analysis, project management, experimental design, and technological expertise to provide a unique
            problem-solving perspective.
        </h5>
    </div>
</div>