#medium-widget .medium-widget-article__title, 
#medium-widget .medium-widget-article__description, 
#medium-widget .medium-widget-article__author-name,
#medium-widget .medium-widget-article__date {
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
}