#medium-widget .medium-widget-article__title, 
#medium-widget .medium-widget-article__description, 
#medium-widget .medium-widget-article__author-name,
#medium-widget .medium-widget-article__date {
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16pt;
}

@media screen and (max-width: 1680px) {

    #medium-widget .medium-widget-article__title, 
    #medium-widget .medium-widget-article__description, 
    #medium-widget .medium-widget-article__author-name,
    #medium-widget .medium-widget-article__date {
        font-size: 12pt;
    }

}

@media screen and (max-width: 736px) {

    #medium-widget .medium-widget-article__title, 
    #medium-widget .medium-widget-article__description, 
    #medium-widget .medium-widget-article__author-name,
    #medium-widget .medium-widget-article__date {
        font-size: 11pt;
    }

}

@media screen and (max-width: 360px) {

    #medium-widget .medium-widget-article__title, 
    #medium-widget .medium-widget-article__description, 
    #medium-widget .medium-widget-article__author-name,
    #medium-widget .medium-widget-article__date {
        font-size: 10pt;
    }

}